<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />            
    </head>
<body>
    <header>
        <div class="titlefree">
            <p class="titulos">FREELANCE PORTFOLIO</p>
        </div>
        <div class="menu-link"> <a href="">
            <div class="menu">
            <p class="titulos">MENU</p><i class="fa-solid fa-bars"></i>        
            </div></a>
        </div>
        <nav class="menuBurger">
           <p class="titulos">PORTFOLIO</p><a href="Portfolio"></a> 
           <p  class="titulos">ABOUT</p><a href="About"></a> 
           <p class="titulos"> CONTACT</p><a href="Contact"></a>
            
        </div>
    </header>
    <main>
        <section class="freelance">
            <img src="/images/profile.png" alt="">
            <p class="titulos">FREELANCE</p> <p class="titulos"> PORTFOLIO</p>
            <i class="fa-solid fa-star"></i>
            <div>
            <p class="parrafos">Web Developer-GraphicArtist UserExperience Designer</p>
            </div>
        </section>
        <section id="Portfolio" class="portfolio">
            <div>
                <p class="titulos">PORTFOLIO</p>
            </div>
            <div>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="images">
                <img src="/images/cabin.png" alt="">
                <img src="/images/cake.png" alt="">
                <img src="/images/circus.png" alt="">
                <img src="/images/game.png" alt="">
                <img src="/images/safe.png" alt="">
                <img src="/images/submarine.png" alt="">
            </div>
            
        </section>
        <section id="About" class="about">
            <div>
                <p class="titulos">ABOUT</p>
            </div>
            <div>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="text">
             <p class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ducimus culpa et doloremque maiores tempore distinctio qui minus blanditiis nulla repellendus, consequatur illo accusantium, perspiciatis harum eum, placeat consequuntur reprehenderit.</p>
             <p class="parrafos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, nostrum! Corporis reprehenderit temporibus aliquam voluptatum eos assumenda ab cupiditate voluptates! Voluptatum laudantium molestiae quaerat rerum amet velit illo natus odio!</p> 
            </div>
            <div class="boton">
                <button><i class="fa-solid fa-download"></i><p class="parrafos">Download</p></button>
            </div>
             
        </section>
        <section id="Contact" class="contact">
            
            <p class="titulos">CONTACT ME</p>
            <i class="fa-solid fa-star"></i>
            <input class="parrafos"  type="text" name="name" placeholder="Name">
            <input class="parrafos" type="email" name="email" placeholder="Email Address">
            <input class="parrafos" type="number" name="number" placeholder="Phone Number">
            <input class="parrafos" type="text" name="mensaje" placeholder="Mensaje">
            <div class="send">
                <button><p class="parrafos"> Send</p></button>
            </div>

        </section>
    </main>
    <footer>
        <div>
        <article class="location">
            <p class="titulos">LOCATION</p>
            <p class="parrafos">2215John Daniel Drive</p>
            <p class="parrafos">Clark,MO 65243</p>
        </article>
        <article class="around">
            <p class="titulos">AROUND THE WEB</p>
            <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-google-plus-g"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-sharp fa-solid fa-globe"></i>
        </div>
        </article>
        <article class="about">
            <p class="titulos">ABOUT FREELANCER</p>
            <p class="parrafos">Freelance is free and open source landing page theme created to <a href="">Your free personal use.</a></p>
        </article>
        </div>
        <span>
            <div>
                <p class="parrafos">Copyright ©️ 1999-2020</p>
            </div>
        </span>
  </footer>
</body>
</html>